body {
    margin: 0;
    padding: 0;
    background-image: url('https://media.istockphoto.com/vectors/abstract-blurred-background-defocused-blue-gradient-vector-id1184802478?k=20&m=1184802478&s=612x612&w=0&h=r_zV72QAvA70P-UFXMr4_fQsT3ranbW17R4anvgAZdM=');
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

.content {
    width: 500px;
    padding: 40px;
    margin: 400px auto;
    text-align: center;
    border: 5px solid rgb(177, 241, 0);
} 

.time {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFD700;
}

.btn {
    padding: 7px 20px;
    border: 1px solid yellowgreen;
    background-color: #FFD700;
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #000;
    color: #FFD700;
}

.active {
    display: block;
}

.unActive {
    display: none;
}
